<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="members">
      <h2 data-cy="membersDetailsHeading"><span jhiTranslate="rhportailazizamonolitcApp.members.detail.title">Members</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.id">Id</span></dt>
        <dd>
          <span>{{ members.id }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.matricule">Matricule</span></dt>
        <dd>
          <span>{{ members.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.firstName">First Name</span></dt>
        <dd>
          <span>{{ members.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.lastName">Last Name</span></dt>
        <dd>
          <span>{{ members.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.dateOfBrith">Date Of Brith</span></dt>
        <dd>
          <span>{{ members.dateOfBrith | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.civility">Civility</span></dt>
        <dd>
          <span>{{ members.civility }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.placeOfBirth">Place Of Birth</span></dt>
        <dd>
          <span>{{ members.placeOfBirth }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.nationality">Nationality</span></dt>
        <dd>
          <span>{{ members.nationality }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameFather">First Name Father</span></dt>
        <dd>
          <span>{{ members.firstNameFather }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameMather">First Name Mather</span></dt>
        <dd>
          <span>{{ members.firstNameMather }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameFather">Last Name Father</span></dt>
        <dd>
          <span>{{ members.lastNameFather }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameMather">Last Name Mather</span></dt>
        <dd>
          <span>{{ members.lastNameMather }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.site">Site</span></dt>
        <dd>
          <span>{{ members.site }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.positionHeld">Position Held</span></dt>
        <dd>
          <span>{{ members.positionHeld }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.matriculeOfHierarchicalChief">Matricule Of Hierarchical Chief</span></dt>
        <dd>
          <span>{{ members.matriculeOfHierarchicalChief }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameHierarchicalChief">First Name Hierarchical Chief</span></dt>
        <dd>
          <span>{{ members.firstNameHierarchicalChief }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameHierarchicalChief">Last Name Hierarchical Chief</span></dt>
        <dd>
          <span>{{ members.lastNameHierarchicalChief }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.identityDocumentType">Identity Document Type</span></dt>
        <dd>
          <span>{{ members.identityDocumentType }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.numberIdentityDocuement">Number Identity Docuement</span></dt>
        <dd>
          <span>{{ members.numberIdentityDocuement }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.numberSocialSecurity">Number Social Security</span></dt>
        <dd>
          <span>{{ members.numberSocialSecurity }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.personelAdress">Personel Adress</span></dt>
        <dd>
          <span>{{ members.personelAdress }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.adressOfNextOfKin">Adress Of Next Of Kin</span></dt>
        <dd>
          <span>{{ members.adressOfNextOfKin }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.mailAdress">Mail Adress</span></dt>
        <dd>
          <span>{{ members.mailAdress }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.homePhone">Home Phone</span></dt>
        <dd>
          <span>{{ members.homePhone }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.personalPhone">Personal Phone</span></dt>
        <dd>
          <span>{{ members.personalPhone }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.status">Status</span></dt>
        <dd>
          <span>{{ members.status }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.houseHolder">House Holder</span></dt>
        <dd>
          <span>{{ members.houseHolder }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.dependents">Dependents</span></dt>
        <dd>
          <span>{{ members.dependents }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.drivingPermit">Driving Permit</span></dt>
        <dd>
          <span>{{ members.drivingPermit }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameSpousse">First Name Spousse</span></dt>
        <dd>
          <span>{{ members.firstNameSpousse }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameSpousse">Last Name Spousse</span></dt>
        <dd>
          <span>{{ members.lastNameSpousse }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.phoneSpousse">Phone Spousse</span></dt>
        <dd>
          <span>{{ members.phoneSpousse }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.nameEmergencyContact">Name Emergency Contact</span></dt>
        <dd>
          <span>{{ members.nameEmergencyContact }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.phoneEmergencyContact">Phone Emergency Contact</span></dt>
        <dd>
          <span>{{ members.phoneEmergencyContact }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.chronicDisease">Chronic Disease</span></dt>
        <dd>
          <span>{{ members.chronicDisease }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.levelOfStudy">Level Of Study</span></dt>
        <dd>
          <span>{{ members.levelOfStudy }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.members.user">User</span></dt>
        <dd>
          <span>{{ members.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/members', members.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
