<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="diploma">
      <h2 data-cy="diplomaDetailsHeading"><span jhiTranslate="rhportailazizamonolitcApp.diploma.detail.title">Diploma</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rhportailazizamonolitcApp.diploma.id">Id</span></dt>
        <dd>
          <span>{{ diploma.id }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.diploma.institution">Institution</span></dt>
        <dd>
          <span>{{ diploma.institution }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.diploma.yearOfGraduation">Year Of Graduation</span></dt>
        <dd>
          <span>{{ diploma.yearOfGraduation }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.diploma.diplomaTitle">Diploma Title</span></dt>
        <dd>
          <span>{{ diploma.diplomaTitle }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.diploma.members">Members</span></dt>
        <dd>
          <div *ngIf="diploma.members">
            <a [routerLink]="['/members', diploma.members?.id, 'view']">{{ diploma.members?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/diploma', diploma.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
