<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-professional-expeience-heading"
        data-cy="ProfessionalExpeienceCreateUpdateHeading"
        jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.home.createOrEditLabel"
      >
        Create or edit a Professional Expeience
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.company" for="field_company"
            >Company</label
          >
          <input type="text" class="form-control" name="company" id="field_company" data-cy="company" formControlName="company" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.startDate" for="field_startDate"
            >Start Date</label
          >
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.endDate" for="field_endDate"
            >End Date</label
          >
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.poste" for="field_poste"
            >Poste</label
          >
          <input type="text" class="form-control" name="poste" id="field_poste" data-cy="poste" formControlName="poste" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.departement"
            for="field_departement"
            >Departement</label
          >
          <input
            type="text"
            class="form-control"
            name="departement"
            id="field_departement"
            data-cy="departement"
            formControlName="departement"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.store" for="field_store"
            >Store</label
          >
          <input type="text" class="form-control" name="store" id="field_store" data-cy="store" formControlName="store" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.members" for="field_members"
            >Members</label
          >
          <select class="form-control" id="field_members" data-cy="members" name="members" formControlName="members">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="membersOption.id === editForm.get('members')!.value?.id ? editForm.get('members')!.value : membersOption"
              *ngFor="let membersOption of membersSharedCollection; trackBy: trackMembersById"
            >
              {{ membersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
