<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="advance">
      <h2 data-cy="advanceDetailsHeading"><span jhiTranslate="rhportailazizamonolitcApp.advance.detail.title">Advance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.id">Id</span></dt>
        <dd>
          <span>{{ advance.id }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.reference">Reference</span></dt>
        <dd>
          <span>{{ advance.reference }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReason">Salary Advance Reason</span></dt>
        <dd>
          <span>{{ advance.salaryAdvanceReason }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReasonDetails">Salary Advance Reason Details</span></dt>
        <dd>
          <span>{{ advance.salaryAdvanceReasonDetails }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceTypes">Salary Advance Types</span></dt>
        <dd>
          <span>{{ advance.salaryAdvanceTypes }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.ceilingSalaryAdvanceTypes">Ceiling Salary Advance Types</span></dt>
        <dd>
          <span>{{ advance.ceilingSalaryAdvanceTypes }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.degreeOfUrgency">Degree Of Urgency</span></dt>
        <dd>
          <span>{{ advance.degreeOfUrgency }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.date">Date</span></dt>
        <dd>
          <span>{{ advance.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.maximumSalaryAdvance">Maximum Salary Advance</span></dt>
        <dd>
          <span>{{ advance.maximumSalaryAdvance }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceAmount">Salary Advance Amount</span></dt>
        <dd>
          <span>{{ advance.salaryAdvanceAmount }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.repaymentPeriod">Repayment Period</span></dt>
        <dd>
          <span>{{ advance.repaymentPeriod }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryDeductionMethod">Salary Deduction Method</span></dt>
        <dd>
          <span>{{ advance.salaryDeductionMethod }}</span>
        </dd>
        <dt>
          <span jhiTranslate="rhportailazizamonolitcApp.advance.totalAmountMonthlyPaymentDeducte"
            >Total Amount Monthly Payment Deducte</span
          >
        </dt>
        <dd>
          <span>{{ advance.totalAmountMonthlyPaymentDeducte }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryMonthlyPaymentDeducte">Salary Monthly Payment Deducte</span></dt>
        <dd>
          <span>{{ advance.salaryMonthlyPaymentDeducte }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.primesMonthlyPaymentDeducte">Primes Monthly Payment Deducte</span></dt>
        <dd>
          <span>{{ advance.primesMonthlyPaymentDeducte }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.status">Status</span></dt>
        <dd>
          <span>{{ advance.status }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.reasonRejection">Reason Rejection</span></dt>
        <dd>
          <span>{{ advance.reasonRejection }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.advance.members">Members</span></dt>
        <dd>
          <div *ngIf="advance.members">
            <a [routerLink]="['/members', advance.members?.id, 'view']">{{ advance.members?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/advance', advance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
