<div>
  <h2 id="page-heading" data-cy="AdvanceHeading">
    <span jhiTranslate="rhportailazizamonolitcApp.advance.home.title">Advances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.advance.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-advance"
        [routerLink]="['/advance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.advance.home.createLabel"> Create a new Advance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="advances?.length === 0">
    <span jhiTranslate="rhportailazizamonolitcApp.advance.home.notFound">No advances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="advances && advances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.id">Id</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.reference">Reference</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReason">Salary Advance Reason</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReasonDetails">Salary Advance Reason Details</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceTypes">Salary Advance Types</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.advance.ceilingSalaryAdvanceTypes">Ceiling Salary Advance Types</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.degreeOfUrgency">Degree Of Urgency</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.date">Date</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.maximumSalaryAdvance">Maximum Salary Advance</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceAmount">Salary Advance Amount</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.repaymentPeriod">Repayment Period</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.salaryDeductionMethod">Salary Deduction Method</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.advance.totalAmountMonthlyPaymentDeducte"
              >Total Amount Monthly Payment Deducte</span
            >
          </th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.advance.salaryMonthlyPaymentDeducte">Salary Monthly Payment Deducte</span>
          </th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.advance.primesMonthlyPaymentDeducte">Primes Monthly Payment Deducte</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.status">Status</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.reasonRejection">Reason Rejection</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.advance.members">Members</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let advance of advances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/advance', advance.id, 'view']">{{ advance.id }}</a>
          </td>
          <td>{{ advance.reference }}</td>
          <td>{{ advance.salaryAdvanceReason }}</td>
          <td>{{ advance.salaryAdvanceReasonDetails }}</td>
          <td>{{ advance.salaryAdvanceTypes }}</td>
          <td>{{ advance.ceilingSalaryAdvanceTypes }}</td>
          <td>{{ advance.degreeOfUrgency }}</td>
          <td>{{ advance.date | formatMediumDate }}</td>
          <td>{{ advance.maximumSalaryAdvance }}</td>
          <td>{{ advance.salaryAdvanceAmount }}</td>
          <td>{{ advance.repaymentPeriod }}</td>
          <td>{{ advance.salaryDeductionMethod }}</td>
          <td>{{ advance.totalAmountMonthlyPaymentDeducte }}</td>
          <td>{{ advance.salaryMonthlyPaymentDeducte }}</td>
          <td>{{ advance.primesMonthlyPaymentDeducte }}</td>
          <td>{{ advance.status }}</td>
          <td>{{ advance.reasonRejection }}</td>
          <td>
            <div *ngIf="advance.members">
              <a [routerLink]="['/members', advance.members?.id, 'view']">{{ advance.members?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/advance', advance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/advance', advance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(advance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
