<!-- <div class="footer">
  <p jhiTranslate="footer">This is your footer</p>
</div> -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-sm-4">
        <h5>À PROPOS</h5>
        <p>
          AZIZA de commerce de détail, qui a ouvert ses premiers magasins en 2014, se positionne aujourd’hui comme un leader dans le
          commerce de proximité avec un concept unique. Avec un réseau de magasins répartis sur tout le territoire tunisien, AZIZA est la
          première chaine de discount offrant à ses clients des produits de qualité aux meilleurs prix.
        </p>
      </div>
      <div class="col-lg-4 col-xl-4 col-sm-4 col-6">
        <div class="list-unstyled">
          <h5>CONTACTEZ-NOUS</h5>
          <div>
            <font>Tél : </font>
            <span>70 60 88 70</span>
            <br />
            <font>Horaire:</font>
            <span> 08:00 - 20:00 </span>
            <br />
            <font>E-Mail:</font>
            <span>
              <b> recrutement@aziza.tn</b>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-sm-4 col-6">
        <h5>SUIVEZ-NOUS</h5>
        <div class="s_share">
          <a href="https://www.facebook.com/Magasins.AZIZA.Tunisie/" target="_blank" rel="noopener">
            <img src="https://aziza.tn/media/wysiwyg/fb.jpg" alt="" />
          </a>
          <a href="https://www.instagram.com/magasins_aziza_officiel/" target="_blank" rel="noopener">
            <img src="https://aziza.tn/media/wysiwyg/instagram.jpg" alt="" />
          </a>
          <a href="https://www.youtube.com/channel/UC_6V_IDwMF9xGFFk218lM-Q" target="_blank" rel="noopener">
            <img src="https://aziza.tn/media/wysiwyg/youtube.jpg" alt="" />
          </a>
          <br />
          <a href="https://play.google.com/store/apps/details?id=tn.aziza.app" target="_blank" rel="noopener">
            <img src="https://aziza.tn/media/wysiwyg/google-play.jpg" alt="" />
          </a>
          <br />
          <a href="https://apps.apple.com/us/app/magasins-aziza/id1550275539" target="_blank" rel="noopener">
            <img src="https://aziza.tn/media/wysiwyg/appstore.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <p jhiTranslate="footer">This is your footer</p> -->
</div>

<div class="o_footer_copyright">
  <div class="container">
    <div class="row">
      <span> © 2022. Aziza </span>
    </div>
  </div>
</div>
