<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-members-heading"
        data-cy="MembersCreateUpdateHeading"
        jhiTranslate="rhportailazizamonolitcApp.members.home.createOrEditLabel"
      >
        Create or edit a Members
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.matricule" for="field_matricule"
            >Matricule</label
          >
          <input type="text" class="form-control" name="matricule" id="field_matricule" data-cy="matricule" formControlName="matricule" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.firstName" for="field_firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.dateOfBrith" for="field_dateOfBrith"
            >Date Of Brith</label
          >
          <div class="input-group">
            <input
              id="field_dateOfBrith"
              data-cy="dateOfBrith"
              type="text"
              class="form-control"
              name="dateOfBrith"
              ngbDatepicker
              #dateOfBrithDp="ngbDatepicker"
              formControlName="dateOfBrith"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateOfBrithDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.civility" for="field_civility">Civility</label>
          <input type="text" class="form-control" name="civility" id="field_civility" data-cy="civility" formControlName="civility" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.placeOfBirth" for="field_placeOfBirth"
            >Place Of Birth</label
          >
          <input
            type="text"
            class="form-control"
            name="placeOfBirth"
            id="field_placeOfBirth"
            data-cy="placeOfBirth"
            formControlName="placeOfBirth"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.nationality" for="field_nationality"
            >Nationality</label
          >
          <input
            type="text"
            class="form-control"
            name="nationality"
            id="field_nationality"
            data-cy="nationality"
            formControlName="nationality"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.firstNameFather" for="field_firstNameFather"
            >First Name Father</label
          >
          <input
            type="text"
            class="form-control"
            name="firstNameFather"
            id="field_firstNameFather"
            data-cy="firstNameFather"
            formControlName="firstNameFather"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.firstNameMather" for="field_firstNameMather"
            >First Name Mather</label
          >
          <input
            type="text"
            class="form-control"
            name="firstNameMather"
            id="field_firstNameMather"
            data-cy="firstNameMather"
            formControlName="firstNameMather"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.lastNameFather" for="field_lastNameFather"
            >Last Name Father</label
          >
          <input
            type="text"
            class="form-control"
            name="lastNameFather"
            id="field_lastNameFather"
            data-cy="lastNameFather"
            formControlName="lastNameFather"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.lastNameMather" for="field_lastNameMather"
            >Last Name Mather</label
          >
          <input
            type="text"
            class="form-control"
            name="lastNameMather"
            id="field_lastNameMather"
            data-cy="lastNameMather"
            formControlName="lastNameMather"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.site" for="field_site">Site</label>
          <input type="text" class="form-control" name="site" id="field_site" data-cy="site" formControlName="site" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.positionHeld" for="field_positionHeld"
            >Position Held</label
          >
          <input
            type="text"
            class="form-control"
            name="positionHeld"
            id="field_positionHeld"
            data-cy="positionHeld"
            formControlName="positionHeld"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.matriculeOfHierarchicalChief"
            for="field_matriculeOfHierarchicalChief"
            >Matricule Of Hierarchical Chief</label
          >
          <input
            type="text"
            class="form-control"
            name="matriculeOfHierarchicalChief"
            id="field_matriculeOfHierarchicalChief"
            data-cy="matriculeOfHierarchicalChief"
            formControlName="matriculeOfHierarchicalChief"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.firstNameHierarchicalChief"
            for="field_firstNameHierarchicalChief"
            >First Name Hierarchical Chief</label
          >
          <input
            type="text"
            class="form-control"
            name="firstNameHierarchicalChief"
            id="field_firstNameHierarchicalChief"
            data-cy="firstNameHierarchicalChief"
            formControlName="firstNameHierarchicalChief"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.lastNameHierarchicalChief"
            for="field_lastNameHierarchicalChief"
            >Last Name Hierarchical Chief</label
          >
          <input
            type="text"
            class="form-control"
            name="lastNameHierarchicalChief"
            id="field_lastNameHierarchicalChief"
            data-cy="lastNameHierarchicalChief"
            formControlName="lastNameHierarchicalChief"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.identityDocumentType"
            for="field_identityDocumentType"
            >Identity Document Type</label
          >
          <input
            type="text"
            class="form-control"
            name="identityDocumentType"
            id="field_identityDocumentType"
            data-cy="identityDocumentType"
            formControlName="identityDocumentType"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.numberIdentityDocuement"
            for="field_numberIdentityDocuement"
            >Number Identity Docuement</label
          >
          <input
            type="text"
            class="form-control"
            name="numberIdentityDocuement"
            id="field_numberIdentityDocuement"
            data-cy="numberIdentityDocuement"
            formControlName="numberIdentityDocuement"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.numberSocialSecurity"
            for="field_numberSocialSecurity"
            >Number Social Security</label
          >
          <input
            type="text"
            class="form-control"
            name="numberSocialSecurity"
            id="field_numberSocialSecurity"
            data-cy="numberSocialSecurity"
            formControlName="numberSocialSecurity"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.personelAdress" for="field_personelAdress"
            >Personel Adress</label
          >
          <input
            type="text"
            class="form-control"
            name="personelAdress"
            id="field_personelAdress"
            data-cy="personelAdress"
            formControlName="personelAdress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.adressOfNextOfKin" for="field_adressOfNextOfKin"
            >Adress Of Next Of Kin</label
          >
          <input
            type="text"
            class="form-control"
            name="adressOfNextOfKin"
            id="field_adressOfNextOfKin"
            data-cy="adressOfNextOfKin"
            formControlName="adressOfNextOfKin"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.mailAdress" for="field_mailAdress"
            >Mail Adress</label
          >
          <input
            type="text"
            class="form-control"
            name="mailAdress"
            id="field_mailAdress"
            data-cy="mailAdress"
            formControlName="mailAdress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.homePhone" for="field_homePhone"
            >Home Phone</label
          >
          <input type="number" class="form-control" name="homePhone" id="field_homePhone" data-cy="homePhone" formControlName="homePhone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.personalPhone" for="field_personalPhone"
            >Personal Phone</label
          >
          <input
            type="number"
            class="form-control"
            name="personalPhone"
            id="field_personalPhone"
            data-cy="personalPhone"
            formControlName="personalPhone"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.houseHolder" for="field_houseHolder"
            >House Holder</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="houseHolder"
            id="field_houseHolder"
            data-cy="houseHolder"
            formControlName="houseHolder"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.dependents" for="field_dependents"
            >Dependents</label
          >
          <input
            type="number"
            class="form-control"
            name="dependents"
            id="field_dependents"
            data-cy="dependents"
            formControlName="dependents"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.drivingPermit" for="field_drivingPermit"
            >Driving Permit</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="drivingPermit"
            id="field_drivingPermit"
            data-cy="drivingPermit"
            formControlName="drivingPermit"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.firstNameSpousse" for="field_firstNameSpousse"
            >First Name Spousse</label
          >
          <input
            type="text"
            class="form-control"
            name="firstNameSpousse"
            id="field_firstNameSpousse"
            data-cy="firstNameSpousse"
            formControlName="firstNameSpousse"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.lastNameSpousse" for="field_lastNameSpousse"
            >Last Name Spousse</label
          >
          <input
            type="text"
            class="form-control"
            name="lastNameSpousse"
            id="field_lastNameSpousse"
            data-cy="lastNameSpousse"
            formControlName="lastNameSpousse"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.phoneSpousse" for="field_phoneSpousse"
            >Phone Spousse</label
          >
          <input
            type="number"
            class="form-control"
            name="phoneSpousse"
            id="field_phoneSpousse"
            data-cy="phoneSpousse"
            formControlName="phoneSpousse"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.nameEmergencyContact"
            for="field_nameEmergencyContact"
            >Name Emergency Contact</label
          >
          <input
            type="text"
            class="form-control"
            name="nameEmergencyContact"
            id="field_nameEmergencyContact"
            data-cy="nameEmergencyContact"
            formControlName="nameEmergencyContact"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.members.phoneEmergencyContact"
            for="field_phoneEmergencyContact"
            >Phone Emergency Contact</label
          >
          <input
            type="number"
            class="form-control"
            name="phoneEmergencyContact"
            id="field_phoneEmergencyContact"
            data-cy="phoneEmergencyContact"
            formControlName="phoneEmergencyContact"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.chronicDisease" for="field_chronicDisease"
            >Chronic Disease</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="chronicDisease"
            id="field_chronicDisease"
            data-cy="chronicDisease"
            formControlName="chronicDisease"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.levelOfStudy" for="field_levelOfStudy"
            >Level Of Study</label
          >
          <input
            type="text"
            class="form-control"
            name="levelOfStudy"
            id="field_levelOfStudy"
            data-cy="levelOfStudy"
            formControlName="levelOfStudy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.members.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
