<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-childrent-coordinate-heading"
        data-cy="ChildrentCoordinateCreateUpdateHeading"
        jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.home.createOrEditLabel"
      >
        Create or edit a Childrent Coordinate
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.firstNameChild"
            for="field_firstNameChild"
            >First Name Child</label
          >
          <input
            type="text"
            class="form-control"
            name="firstNameChild"
            id="field_firstNameChild"
            data-cy="firstNameChild"
            formControlName="firstNameChild"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.lastNameChild"
            for="field_lastNameChild"
            >Last Name Child</label
          >
          <input
            type="text"
            class="form-control"
            name="lastNameChild"
            id="field_lastNameChild"
            data-cy="lastNameChild"
            formControlName="lastNameChild"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.dateOfBirthChild"
            for="field_dateOfBirthChild"
            >Date Of Birth Child</label
          >
          <input
            type="text"
            class="form-control"
            name="dateOfBirthChild"
            id="field_dateOfBirthChild"
            data-cy="dateOfBirthChild"
            formControlName="dateOfBirthChild"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.schoolLevel" for="field_schoolLevel"
            >School Level</label
          >
          <input
            type="text"
            class="form-control"
            name="schoolLevel"
            id="field_schoolLevel"
            data-cy="schoolLevel"
            formControlName="schoolLevel"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.handicapped" for="field_handicapped"
            >Handicapped</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="handicapped"
            id="field_handicapped"
            data-cy="handicapped"
            formControlName="handicapped"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.members" for="field_members"
            >Members</label
          >
          <select class="form-control" id="field_members" data-cy="members" name="members" formControlName="members">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="membersOption.id === editForm.get('members')!.value?.id ? editForm.get('members')!.value : membersOption"
              *ngFor="let membersOption of membersSharedCollection; trackBy: trackMembersById"
            >
              {{ membersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
