<div>
  <h2 id="page-heading" data-cy="DiplomaHeading">
    <span jhiTranslate="rhportailazizamonolitcApp.diploma.home.title">Diplomas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.diploma.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-diploma"
        [routerLink]="['/diploma/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.diploma.home.createLabel"> Create a new Diploma </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="diplomas?.length === 0">
    <span jhiTranslate="rhportailazizamonolitcApp.diploma.home.notFound">No diplomas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="diplomas && diplomas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.diploma.id">Id</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.diploma.institution">Institution</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.diploma.yearOfGraduation">Year Of Graduation</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.diploma.diplomaTitle">Diploma Title</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.diploma.members">Members</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let diploma of diplomas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/diploma', diploma.id, 'view']">{{ diploma.id }}</a>
          </td>
          <td>{{ diploma.institution }}</td>
          <td>{{ diploma.yearOfGraduation }}</td>
          <td>{{ diploma.diplomaTitle }}</td>
          <td>
            <div *ngIf="diploma.members">
              <a [routerLink]="['/members', diploma.members?.id, 'view']">{{ diploma.members?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/diploma', diploma.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/diploma', diploma.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(diploma)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
