<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="childrentCoordinate">
      <h2 data-cy="childrentCoordinateDetailsHeading">
        <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.detail.title">Childrent Coordinate</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.id">Id</span></dt>
        <dd>
          <span>{{ childrentCoordinate.id }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.firstNameChild">First Name Child</span></dt>
        <dd>
          <span>{{ childrentCoordinate.firstNameChild }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.lastNameChild">Last Name Child</span></dt>
        <dd>
          <span>{{ childrentCoordinate.lastNameChild }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.dateOfBirthChild">Date Of Birth Child</span></dt>
        <dd>
          <span>{{ childrentCoordinate.dateOfBirthChild }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.schoolLevel">School Level</span></dt>
        <dd>
          <span>{{ childrentCoordinate.schoolLevel }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.handicapped">Handicapped</span></dt>
        <dd>
          <span>{{ childrentCoordinate.handicapped }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.members">Members</span></dt>
        <dd>
          <div *ngIf="childrentCoordinate.members">
            <a [routerLink]="['/members', childrentCoordinate.members?.id, 'view']">{{ childrentCoordinate.members?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/childrent-coordinate', childrentCoordinate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
