<div>
  <h2 id="page-heading" data-cy="MembersHeading">
    <span jhiTranslate="rhportailazizamonolitcApp.members.home.title">Members</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.members.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-members"
        [routerLink]="['/members/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.members.home.createLabel"> Create a new Members </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="members?.length === 0">
    <span jhiTranslate="rhportailazizamonolitcApp.members.home.notFound">No members found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="members && members.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.id">Id</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.matricule">Matricule</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.firstName">First Name</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.lastName">Last Name</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.dateOfBrith">Date Of Brith</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.civility">Civility</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.placeOfBirth">Place Of Birth</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.nationality">Nationality</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameFather">First Name Father</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameMather">First Name Mather</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameFather">Last Name Father</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameMather">Last Name Mather</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.site">Site</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.positionHeld">Position Held</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.members.matriculeOfHierarchicalChief">Matricule Of Hierarchical Chief</span>
          </th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.members.firstNameHierarchicalChief">First Name Hierarchical Chief</span>
          </th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.members.lastNameHierarchicalChief">Last Name Hierarchical Chief</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.identityDocumentType">Identity Document Type</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.members.numberIdentityDocuement">Number Identity Docuement</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.numberSocialSecurity">Number Social Security</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.personelAdress">Personel Adress</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.adressOfNextOfKin">Adress Of Next Of Kin</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.mailAdress">Mail Adress</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.homePhone">Home Phone</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.personalPhone">Personal Phone</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.status">Status</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.houseHolder">House Holder</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.dependents">Dependents</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.drivingPermit">Driving Permit</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.firstNameSpousse">First Name Spousse</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.lastNameSpousse">Last Name Spousse</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.phoneSpousse">Phone Spousse</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.nameEmergencyContact">Name Emergency Contact</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.phoneEmergencyContact">Phone Emergency Contact</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.chronicDisease">Chronic Disease</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.levelOfStudy">Level Of Study</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.members.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let members of members; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/members', members.id, 'view']">{{ members.id }}</a>
          </td>
          <td>{{ members.matricule }}</td>
          <td>{{ members.firstName }}</td>
          <td>{{ members.lastName }}</td>
          <td>{{ members.dateOfBrith | formatMediumDate }}</td>
          <td>{{ members.civility }}</td>
          <td>{{ members.placeOfBirth }}</td>
          <td>{{ members.nationality }}</td>
          <td>{{ members.firstNameFather }}</td>
          <td>{{ members.firstNameMather }}</td>
          <td>{{ members.lastNameFather }}</td>
          <td>{{ members.lastNameMather }}</td>
          <td>{{ members.site }}</td>
          <td>{{ members.positionHeld }}</td>
          <td>{{ members.matriculeOfHierarchicalChief }}</td>
          <td>{{ members.firstNameHierarchicalChief }}</td>
          <td>{{ members.lastNameHierarchicalChief }}</td>
          <td>{{ members.identityDocumentType }}</td>
          <td>{{ members.numberIdentityDocuement }}</td>
          <td>{{ members.numberSocialSecurity }}</td>
          <td>{{ members.personelAdress }}</td>
          <td>{{ members.adressOfNextOfKin }}</td>
          <td>{{ members.mailAdress }}</td>
          <td>{{ members.homePhone }}</td>
          <td>{{ members.personalPhone }}</td>
          <td>{{ members.status }}</td>
          <td>{{ members.houseHolder }}</td>
          <td>{{ members.dependents }}</td>
          <td>{{ members.drivingPermit }}</td>
          <td>{{ members.firstNameSpousse }}</td>
          <td>{{ members.lastNameSpousse }}</td>
          <td>{{ members.phoneSpousse }}</td>
          <td>{{ members.nameEmergencyContact }}</td>
          <td>{{ members.phoneEmergencyContact }}</td>
          <td>{{ members.chronicDisease }}</td>
          <td>{{ members.levelOfStudy }}</td>
          <td>
            {{ members.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/members', members.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/members', members.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(members)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
