<div>
  <h2 id="page-heading" data-cy="ChildrentCoordinateHeading">
    <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.home.title">Childrent Coordinates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-childrent-coordinate"
        [routerLink]="['/childrent-coordinate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.home.createLabel"> Create a new Childrent Coordinate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="childrentCoordinates?.length === 0">
    <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.home.notFound">No childrentCoordinates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="childrentCoordinates && childrentCoordinates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.id">Id</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.firstNameChild">First Name Child</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.lastNameChild">Last Name Child</span></th>
          <th scope="col">
            <span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.dateOfBirthChild">Date Of Birth Child</span>
          </th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.schoolLevel">School Level</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.handicapped">Handicapped</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.childrentCoordinate.members">Members</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let childrentCoordinate of childrentCoordinates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/childrent-coordinate', childrentCoordinate.id, 'view']">{{ childrentCoordinate.id }}</a>
          </td>
          <td>{{ childrentCoordinate.firstNameChild }}</td>
          <td>{{ childrentCoordinate.lastNameChild }}</td>
          <td>{{ childrentCoordinate.dateOfBirthChild }}</td>
          <td>{{ childrentCoordinate.schoolLevel }}</td>
          <td>{{ childrentCoordinate.handicapped }}</td>
          <td>
            <div *ngIf="childrentCoordinate.members">
              <a [routerLink]="['/members', childrentCoordinate.members?.id, 'view']">{{ childrentCoordinate.members?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/childrent-coordinate', childrentCoordinate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/childrent-coordinate', childrentCoordinate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(childrentCoordinate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
