<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-advance-heading"
        data-cy="AdvanceCreateUpdateHeading"
        jhiTranslate="rhportailazizamonolitcApp.advance.home.createOrEditLabel"
      >
        Create or edit a Advance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.reference" for="field_reference"
            >Reference</label
          >
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReason"
            for="field_salaryAdvanceReason"
            >Salary Advance Reason</label
          >
          <input
            type="text"
            class="form-control"
            name="salaryAdvanceReason"
            id="field_salaryAdvanceReason"
            data-cy="salaryAdvanceReason"
            formControlName="salaryAdvanceReason"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceReasonDetails"
            for="field_salaryAdvanceReasonDetails"
            >Salary Advance Reason Details</label
          >
          <input
            type="text"
            class="form-control"
            name="salaryAdvanceReasonDetails"
            id="field_salaryAdvanceReasonDetails"
            data-cy="salaryAdvanceReasonDetails"
            formControlName="salaryAdvanceReasonDetails"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceTypes"
            for="field_salaryAdvanceTypes"
            >Salary Advance Types</label
          >
          <input
            type="text"
            class="form-control"
            name="salaryAdvanceTypes"
            id="field_salaryAdvanceTypes"
            data-cy="salaryAdvanceTypes"
            formControlName="salaryAdvanceTypes"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.ceilingSalaryAdvanceTypes"
            for="field_ceilingSalaryAdvanceTypes"
            >Ceiling Salary Advance Types</label
          >
          <input
            type="number"
            class="form-control"
            name="ceilingSalaryAdvanceTypes"
            id="field_ceilingSalaryAdvanceTypes"
            data-cy="ceilingSalaryAdvanceTypes"
            formControlName="ceilingSalaryAdvanceTypes"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.degreeOfUrgency" for="field_degreeOfUrgency"
            >Degree Of Urgency</label
          >
          <input
            type="text"
            class="form-control"
            name="degreeOfUrgency"
            id="field_degreeOfUrgency"
            data-cy="degreeOfUrgency"
            formControlName="degreeOfUrgency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.maximumSalaryAdvance"
            for="field_maximumSalaryAdvance"
            >Maximum Salary Advance</label
          >
          <input
            type="number"
            class="form-control"
            name="maximumSalaryAdvance"
            id="field_maximumSalaryAdvance"
            data-cy="maximumSalaryAdvance"
            formControlName="maximumSalaryAdvance"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryAdvanceAmount"
            for="field_salaryAdvanceAmount"
            >Salary Advance Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="salaryAdvanceAmount"
            id="field_salaryAdvanceAmount"
            data-cy="salaryAdvanceAmount"
            formControlName="salaryAdvanceAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.repaymentPeriod" for="field_repaymentPeriod"
            >Repayment Period</label
          >
          <input
            type="number"
            class="form-control"
            name="repaymentPeriod"
            id="field_repaymentPeriod"
            data-cy="repaymentPeriod"
            formControlName="repaymentPeriod"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryDeductionMethod"
            for="field_salaryDeductionMethod"
            >Salary Deduction Method</label
          >
          <input
            type="text"
            class="form-control"
            name="salaryDeductionMethod"
            id="field_salaryDeductionMethod"
            data-cy="salaryDeductionMethod"
            formControlName="salaryDeductionMethod"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.totalAmountMonthlyPaymentDeducte"
            for="field_totalAmountMonthlyPaymentDeducte"
            >Total Amount Monthly Payment Deducte</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmountMonthlyPaymentDeducte"
            id="field_totalAmountMonthlyPaymentDeducte"
            data-cy="totalAmountMonthlyPaymentDeducte"
            formControlName="totalAmountMonthlyPaymentDeducte"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.salaryMonthlyPaymentDeducte"
            for="field_salaryMonthlyPaymentDeducte"
            >Salary Monthly Payment Deducte</label
          >
          <input
            type="number"
            class="form-control"
            name="salaryMonthlyPaymentDeducte"
            id="field_salaryMonthlyPaymentDeducte"
            data-cy="salaryMonthlyPaymentDeducte"
            formControlName="salaryMonthlyPaymentDeducte"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rhportailazizamonolitcApp.advance.primesMonthlyPaymentDeducte"
            for="field_primesMonthlyPaymentDeducte"
            >Primes Monthly Payment Deducte</label
          >
          <input
            type="number"
            class="form-control"
            name="primesMonthlyPaymentDeducte"
            id="field_primesMonthlyPaymentDeducte"
            data-cy="primesMonthlyPaymentDeducte"
            formControlName="primesMonthlyPaymentDeducte"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.reasonRejection" for="field_reasonRejection"
            >Reason Rejection</label
          >
          <input
            type="text"
            class="form-control"
            name="reasonRejection"
            id="field_reasonRejection"
            data-cy="reasonRejection"
            formControlName="reasonRejection"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.advance.members" for="field_members">Members</label>
          <select class="form-control" id="field_members" data-cy="members" name="members" formControlName="members">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="membersOption.id === editForm.get('members')!.value?.id ? editForm.get('members')!.value : membersOption"
              *ngFor="let membersOption of membersSharedCollection; trackBy: trackMembersById"
            >
              {{ membersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
