<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-diploma-heading"
        data-cy="DiplomaCreateUpdateHeading"
        jhiTranslate="rhportailazizamonolitcApp.diploma.home.createOrEditLabel"
      >
        Create or edit a Diploma
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.diploma.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.diploma.institution" for="field_institution"
            >Institution</label
          >
          <input
            type="text"
            class="form-control"
            name="institution"
            id="field_institution"
            data-cy="institution"
            formControlName="institution"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.diploma.yearOfGraduation" for="field_yearOfGraduation"
            >Year Of Graduation</label
          >
          <input
            type="number"
            class="form-control"
            name="yearOfGraduation"
            id="field_yearOfGraduation"
            data-cy="yearOfGraduation"
            formControlName="yearOfGraduation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.diploma.diplomaTitle" for="field_diplomaTitle"
            >Diploma Title</label
          >
          <input
            type="text"
            class="form-control"
            name="diplomaTitle"
            id="field_diplomaTitle"
            data-cy="diplomaTitle"
            formControlName="diplomaTitle"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rhportailazizamonolitcApp.diploma.members" for="field_members">Members</label>
          <select class="form-control" id="field_members" data-cy="members" name="members" formControlName="members">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="membersOption.id === editForm.get('members')!.value?.id ? editForm.get('members')!.value : membersOption"
              *ngFor="let membersOption of membersSharedCollection; trackBy: trackMembersById"
            >
              {{ membersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
