<div>
  <h2 id="page-heading" data-cy="ProfessionalExpeienceHeading">
    <span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.home.title">Professional Expeiences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-professional-expeience"
        [routerLink]="['/professional-expeience/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.home.createLabel"> Create a new Professional Expeience </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="professionalExpeiences?.length === 0">
    <span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.home.notFound">No professionalExpeiences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="professionalExpeiences && professionalExpeiences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.id">Id</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.company">Company</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.startDate">Start Date</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.endDate">End Date</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.poste">Poste</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.departement">Departement</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.store">Store</span></th>
          <th scope="col"><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.members">Members</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professionalExpeience of professionalExpeiences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/professional-expeience', professionalExpeience.id, 'view']">{{ professionalExpeience.id }}</a>
          </td>
          <td>{{ professionalExpeience.company }}</td>
          <td>{{ professionalExpeience.startDate | formatMediumDate }}</td>
          <td>{{ professionalExpeience.endDate | formatMediumDate }}</td>
          <td>{{ professionalExpeience.poste }}</td>
          <td>{{ professionalExpeience.departement }}</td>
          <td>{{ professionalExpeience.store }}</td>
          <td>
            <div *ngIf="professionalExpeience.members">
              <a [routerLink]="['/members', professionalExpeience.members?.id, 'view']">{{ professionalExpeience.members?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/professional-expeience', professionalExpeience.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/professional-expeience', professionalExpeience.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(professionalExpeience)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
