@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
@font-face {
  font-family: 'Futura Std';
  src: url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.eot');
  src: url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.svg#Futura Std') format('svg');
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
p {
  color: #231f20;
}

a {
  color: #231f20;
  font-weight: bold;
}

a:hover {
  color: #231f20;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: #231f20;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary {
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
  border-radius: 0;
  opacity: 1;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #e2101a !important;
  border-color: transparent !important;
  opacity: 1;
  -webkit-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
Header
========================================================================== */

.navbar.bg-dark {
  background-color: #e2101a !important;
  padding: 2.2rem 1rem !important;
}

.logo .logo-img {
  background: url(../images/logo-aziza.png) no-repeat center center !important;
  height: 75px !important;
  width: 248px !important;
  background-size: 100% auto !important;
  margin-top: -30px;
  margin-bottom: 30px;
}

/* ==========================================================================
Body
========================================================================== */
.card.jh-card .col-md-9 {
  display: grid;
}

.card.jh-card p {
  position: relative;
  top: -110px;
  width: 80%;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.8;
  margin-top: 30px;
}

.display-4 {
  font-size: 2.1875rem;
  position: relative;
}

/* ==========================================================================
alert
========================================================================== */

.alert-success {
  position: absolute;
  right: 20px;
}

/* ==========================================================================
Authentification
========================================================================== */

.mt-3.alert.alert-warning {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  float: right;
  top: -110px;
}

.form-check-label {
  margin-bottom: 10px;
  font-size: 14px;
}

.alert a,
.alert .alert-link {
  color: #231f20 !important;
  font-size: 12px;
  text-decoration: none !important;
}

/* ==========================================================================
navbar horizontal
========================================================================== */

nav {
  z-index: 1;
  position: fixed !important;
  background: #22242a;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #19b3d3;
}

.navbar ul {
  width: 100px;
}

.navbar .alert-success {
  margin-top: -24px;
  color: #ffd400;
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav .nav-link {
  padding-left: 35px !important;
}

.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0b87a6;
}
.collapse:not(.show) {
  display: block !important;
}
.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: 2px solid #e2101a;
  margin-bottom: 10px;
  float: left;
  position: relative;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  padding-left: 35px;
}

.sidebar a:hover {
  background: #ffd400;
}

.sidebar .left_area a {
  padding-left: 0;
}

.sidebar .left_area a:hover {
  background: transparent;
}

.sidebar i,
.sidebar fa-icon {
  padding-right: 0px;
}

.sidebar .alert-success {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  left: 75px;
  right: 0 !important;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 35px;
  margin: -13px -20px;
  transition: 0.5s;
  transition-property: color;
}

.text .sidebar .icon-logo {
  display: none;
}

#check:checked ~ .text .sidebar {
  left: -185px;
}

#check:checked ~ .text .sidebar a span span,
#check:checked ~ .text .sidebar a .logo-img {
  display: none;
}

#check:checked ~ .text .sidebar a span {
  position: relative;
  right: 213px;
  font-size: 14px;
}

#check:checked ~ .text .sidebar .icon-logo {
  display: block;
  width: 23%;
  margin-left: 20px;
  margin-top: -25px;
}

#check:checked ~ .text .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}
.dropdown-menu {
  background-color: #212529 !important;
  width: 100%;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar {
    background: #222;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #19b3d3;
  }

  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }

  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #19b3d3;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }

  /*.mobile_nav_items{
    background: #2F323A;
    overflow: hidden;
    max-height: 0;
	transition: 0.5s;
	transition-property: max-height;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    max-height: 1000px;
  }*/
}

/* ==========================================================================
Footer
========================================================================== */

.footer p {
  font-size: 13px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 10px;
  background: #faf9f8;
}

.list-unstyled {
  text-align: center;
  font-size: 13px;
  line-height: 2;
}

.s_share img {
  width: 20%;
}

.o_footer_copyright {
  background: #e2101a;
  padding: 3px;
}

.o_footer_copyright span {
  margin-left: 50%;
  color: #fff;
}
