<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="professionalExpeience">
      <h2 data-cy="professionalExpeienceDetailsHeading">
        <span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.detail.title">Professional Expeience</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.id">Id</span></dt>
        <dd>
          <span>{{ professionalExpeience.id }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.company">Company</span></dt>
        <dd>
          <span>{{ professionalExpeience.company }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.startDate">Start Date</span></dt>
        <dd>
          <span>{{ professionalExpeience.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.endDate">End Date</span></dt>
        <dd>
          <span>{{ professionalExpeience.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.poste">Poste</span></dt>
        <dd>
          <span>{{ professionalExpeience.poste }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.departement">Departement</span></dt>
        <dd>
          <span>{{ professionalExpeience.departement }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.store">Store</span></dt>
        <dd>
          <span>{{ professionalExpeience.store }}</span>
        </dd>
        <dt><span jhiTranslate="rhportailazizamonolitcApp.professionalExpeience.members">Members</span></dt>
        <dd>
          <div *ngIf="professionalExpeience.members">
            <a [routerLink]="['/members', professionalExpeience.members?.id, 'view']">{{ professionalExpeience.members?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/professional-expeience', professionalExpeience.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
